<h1 class="title">
<%= link_to "お薬相談室", root_path%>
</h1>
<%= form_with(model: @question, local: true) do |f|%>
  <div class="field">
    <%= f.label :title, "題名" %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :content, "質問内容" %><br />
    <%= f.text_area :content, size:"40x5" %>
  </div>

  <div class="question-btn-contents">
     <%= f.submit "編集する", class:"question-btn" %>
     <%= link_to "トップページに戻る", root_path, class:"back-btn" %>
  </div>
<% end %>