<div class="wrapper">
<%= render "shared/header" %>
<body>
    <div class="mask">

    <div class="question-lists">質問一覧
    <div class="question-counts">
    <%= "現在の質問数:#{@posts}"%>
    </div>
     <% @questions.each do |question|%>
      <li class="list">
         <%= link_to  "#{question.title}", question_path(question.id)  %>
      <h1 class="question-list">
           質問した日
         <%=l question.created_at %>
      </h1>
    
    <% end %>
     </div>
    
</body>
<%= render "shared/footer"%>
</div>
</div>


