<div class="contents-row">
  
   <h1 class="title">
     <%= link_to "お薬相談室", root_path, class:'title'%>
   </h1>
  <div class="container"> 
 <div class="question-wrapper">
 <% if @question.best_answer_id === @best.ids[0]%>
 <p class="question-solution">解決しました</p>
 <% end %>
 <h1 class="question-title">
  <%= @question.title%>
 </h1>
 <%# <div class="body-text"> %>
 <p class="body-text">
  質問内容：<%= @question.content %>
  </p>
 <%# </div> %>
 <%# <div class= "question-manage"> %>
 <p class="question-manage">
  <% if user_signed_in? %>
      <% if current_user.id === @question.user_id%>
      <%= link_to edit_question_path do %>
      <button class="btn">編集する</button>
      <% end  %>
      <%= link_to question_path do %>
      <button class="btn">削除する</button>
      <% end %>
  
     <% else %>
     <%= link_to new_question_answer_path(@question.id) do %>
     <button class="btn">回答する</button>
     <% end %>
   
   <% end  %>
  <% end %>
  </p>
  
  </div>
</div>
</div>


  <div class="answer-lists">回答一覧
  <% @answers.each do |answer| %>
  <li class="answer-list">
  <%= answer.user.nickname%> :
   <%= answer.text %>
   </li>
   <li class="answer-list-name">
   <% if user_signed_in? %>
     <% if current_user.id === answer.user_id %>
     <%= link_to edit_question_answer_path(@question, answer) do %>
     <button class="btn">編集する</button>
     <% end %>
     <%= link_to question_answer_path(@question, answer), method: :delete do %>
     <button class="btn">削除する</button>
     <% end %>
      <% elsif current_user.id === @question.user_id %>
      <% unless @question.best_answer_id == @best.ids[0]%>
         <%= form_with(model: @question,url: question_path, local: true) do |form|%>
     <%= form.hidden_field :best_answer_id, value: @best.ids[0] %>
     <div class="action"> 
     <%= form.submit '解決',class:"btn"%>
       </div>  
       <% end %>
       <% end %>
       <% end %>
      <% end %>
   </li>
   <% end %>
 
   </div>
  
  