<div class="contents-row">
  
   <h1 class="title">
     <%= link_to "お薬相談室", root_path, class:'title'%>
   </h1>
  <div class="container"> 
 <div class="question-wrapper">
 <% if @question.best_answer_id === @best.ids[0]%>
 <p class="question-solution">解決しました</p>
 <% end %>
  <ul id="question-list">
    <li>
    質問：
    <%= @question.title %>
    </li>
    <li>
    質問内容：
    <%= @question.content%>
  </ul>
  </div>
</div>
</div>

<div class= "question-manage">
  <% if user_signed_in? %>
      <% if current_user.id === @question.user_id%>
   <%= link_to "編集する", edit_question_path, class:"question_btn" %>
   <%= link_to "削除する", question_path, method: :delete, class:"question_btn" %>
  
     <% else %>
   <%= link_to "回答する", new_question_answer_path(@question.id), class:"answer_btn" %>
   <% end  %>
  <% end %>
  </div>
  <div class="answer-lists">回答一覧
  <% @answers.each do |answer| %>
  <li class="answer-list">
   <%= answer.text %>
   </li>
   <li class="answer-list-name">
   <% if user_signed_in? %>
     <% if current_user.id === answer.user_id %>
   <%= answer.user.nickname%>
   <%= link_to "編集",edit_question_answer_path(@question, answer) , class:"answer-edit-btn" %>
   <%= link_to "削除",  question_answer_path(@question, answer),method: :delete, class:"answer-delete-btn"%>
      <% elsif current_user.id === @question.user_id %>
      <% unless @question.best_answer_id == @best.ids[0]%>
         <%= form_with(model: @question,url: question_path, local: true) do |form|%>
     <%= form.hidden_field :best_answer_id, value: @best.ids[0] %>
     <div class="action"> 
     <%= form.submit '解決',class:"btn"%>
       </div>  
       <% end %>
       <% end %>
       <% end %>
      <% end %>
   </li>
   <% end %>
   </div>
  <%= render "shared/footer" %>
  