   <header class='top-page-header'>
   <h1 class="header-title">
     <%= link_to "お薬相談室", root_path, class:"header-title" %>
   </h1>   
      <div class='header-nav'>
       <ul class='list-right'> 
        <% if user_signed_in? %>
        <div class="name">
        <%= "ようこそ#{current_user.nickname}さん"  %>
        </div>
         <li><%=link_to 'ログアウト', destroy_user_session_path, method: :delete, class:'log-out'%></li>
         <li><%=link_to '質問する', new_question_path, class: 'question'%>
        <% else %> 
         <li><%=link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class:'guest-log-in'%>
         <li><%=link_to '新規登録',  new_user_registration_path, class:'sign-in'%></li>
         <li><%=link_to 'ログイン',  new_user_session_path, class:'log-in'%></li>
        <% end %> 
        
       </ul>
       </div>
   </header>