  <div class="contents-row">
  <h1 class="title">
   <%= link_to "戻る", root_path, class:"back" %>
 </h1>
  <div class="container-in">
  <div class="box">
  <%= form_with(model:@answer,url: question_answers_path, local: true) do |f|%>
  <div class="field">
    <%= f.label :text, "回答", class: "answer-content" %><br />
    <%= f.text_area :text, class: "answer-content", size:"40x5"%>
  </div>

  <div class="question-btn-contents">
     <%= f.submit "回答する", class:"btn" %> 
  </div>  
  <% end %>
  </div>
 </div>
 </div>
